// ==========================================================================
// Print
//
// Columns, offsets, pushes, and pulls for print resolution
// ==========================================================================

// Global variables and mixins
@import "./globals/mixins";
@import "./globals/settings";


// ==========================================================================
// Simple print setup for common elements
// ==========================================================================
* {
    background: transparent !important;
    color: #000 !important;
    // Black prints faster: h5bp.com/s
    box-shadow: none !important;
    text-shadow: none !important;
}


// ==========================================================================
// Grid setup
// ==========================================================================
$visible-selector: ".is-visible";
@include ui-responsive-hide("default", $visible-selector);
@include ui-responsive-show("medium", $visible-selector);
@include ui-responsive-hide("large", $visible-selector);
@include ui-responsive-hide("xlarge", $visible-selector);
@include ui-responsive-show("print", $visible-selector);


$hidden-selector: ".is-hidden";
@include ui-responsive-show("default", $hidden-selector);
@include ui-responsive-hide("medium", $hidden-selector);
@include ui-responsive-show("large", $hidden-selector);
@include ui-responsive-show("xlarge", $hidden-selector);
@include ui-responsive-hide("print", $hidden-selector);

.container {
	width: 100%;

	&.with-xlarge,
	&.is-large,
	&.is-small {
		width: 100%;
		@include ui-grid-column-base("medium");
		@include ui-grid-columns("medium");
		@include ui-grid-offset("medium");
		@include ui-grid-bleed("medium");
		@include ui-grid-push("medium");
		@include ui-grid-pull("medium");

		@include ui-grid-column-base("print");
		@include ui-grid-columns("print");
		@include ui-grid-offset("print");
		@include ui-grid-bleed("print");
		@include ui-grid-push("print");
		@include ui-grid-pull("print");
	}
}

.row {
	@include ui-grid-row("medium");
	@include ui-grid-row("print");
}

@include ui-grid-column-base("medium");
@include ui-grid-columns("medium");
@include ui-grid-offset("medium");
@include ui-grid-bleed("medium");
@include ui-grid-push("medium");
@include ui-grid-pull("medium");

@include ui-grid-column-base("print");
@include ui-grid-columns("print");
@include ui-grid-offset("print");
@include ui-grid-bleed("print");
@include ui-grid-push("print");
@include ui-grid-pull("print");

// Some breakpoints may utilize a clear:both pattern, which should be overridden
[class*="col-"] {
	clear: none;
}

