---
layout: default
title: TorqueUI, the new awesome UI pack available for free!!
---
<div class="row">
	<aside class="col-s-4 col-m-3 col-l-3 col-xl-6">
		{% include change-log.html %}
	</aside>
	<section class="col-s-4 col-m-9 col-l-9 col-xl-18">

		<div class="row">
			<div class="col-s-4 col-m-12 col-l-12 col-xl-12">
				<h1>Getting started</h1>
				<p class="lead">Grunt and Grunt plugins are installed and managed via npm, the Node.js package manager.
				Grunt 0.4.x requires stable Node.js versions >= 0.8.0. Odd version numbers of Node.js are considered unstable development versions.</p>
	 			</div>
			<div class="col-s-4 col-m-12 col-l-12 col-xl-12">
				<h1>Installing the CLI</h1>
				<p>If you're upgrading from Grunt 0.3, please see Grunt 0.3 Notes</p>
				<p>In order to get started, you'll want to install Grunt's command line interface (CLI) globally. You may need to use sudo (for OSX, *nix, BSD etc) or run your command shell as Administrator (for Windows) to do this.</p>
{% highlight ruby %}
$ gem install bundler
{% endhighlight %}

{% highlight ruby %}
$ npm install -g grunt-cli
{% endhighlight %}

{% highlight ruby %}
$ bundler install
$ npm install
{% endhighlight %}

Start the test server
{% highlight ruby %}
$ grunt server
{% endhighlight %}

Watch the CSS files
{% highlight ruby %}
$ grunt
{% endhighlight %}

Build the CSS files
{% highlight ruby %}
$ grunt dist
{% endhighlight %}
			</div>
		</div>
		<hr class="separator">
		<div class="row">
			<div class="col-s-4 col-m-6 col-l-6 col-xl-12">
				<h1>Why use a framework?</h1>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
				<hr class="separator">
			</div>
			<div class="col-s-4 col-m-6 col-l-6 col-xl-12">
				<h1>Why use Torque?</h1>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
				<hr class="separator">
			</div>

			<div class="col-s-4 col-m-12 col-l-12 col-xl-24">
				<h1>Technologies</h1>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
			</div>
		</div>
		<hr class="separator">
		<div class="row">
			<div class="col-s-4 col-m-4 col-l-4 col-xl-8">
				<span class="h6">{{ site.collections.css.title }}</span>
				<ul class="l-list-inline">
				{% assign cssPages = site.collections.css.docs | sort:'order' %}
				{% for link in cssPages %}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
				</ul>
			</div>
			<div class="col-s-4 col-m-4 col-l-4 col-xl-8">
				<span class="h6">{{ site.collections.components.title }}</span>
				<ul class="l-list-inline">
				{% assign componentsPages = site.collections.components.docs | sort:'order' %}
				{% for link in componentsPages %}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
				</ul>
			</div>
			<div class="col-s-4 col-m-4 col-l-4 col-xl-8">
				<span class="h6">{{ site.collections.javascript.title }}</span>
				<ul class="l-list-inline">
				{% assign javascriptPages = site.collections.javascript.docs | sort:'order' %}
				{% for link in javascriptPages %}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</section>
</div>
