---
layout: default
title: TorqueUI, the new awesome UI pack available for free!!
---
<div class="row">
	<aside class="col-s-4 col-m-3 col-l-3 col-xl-6">
		{% include change-log.html %}
	</aside>
	<section class="col-s-4 col-m-9 col-l-9 col-xl-18">
		<div class="space intro"></div>
		<div class="row">
			<div class="col-s-4 col-m-12 col-l-12 col-xl-24">
				<h1 class="text-center hero--index">Responsive web design made easy</h1>
				<p class="text-center">TorqueUI is a Responsive design centric UI Framework with HTML, CSS and Javascript components made for the modern web.</p>
			</div>
			<div class="col-s-4 col-m-12 col-l-12 col-xl-24">
				<hr class="separator">
			</div>
		</div>

		<div class="row">
			<div class="col-s-4 col-m-4 col-l-4 col-xl-8">
				<img src="assets/images/code.png" class="responsive" alt="Preprocessors">
				<div class="h3">Extend and reuse.</div>
				<p>TorqueUI made with modern tools like <a href="http://gruntjs.com/" title="Grunt">Grunt</a>, <a href="http://sass-lang.com/" title="Sass">Sass</a> and <a href="http://compass-style.org/">Compass</a> making it easy for you to extend and build on components. But also to extract and reuse just the parts that you want, for you own projects.</p>
			</div>
			<div class="col-s-4 col-m-4 col-l-4 col-xl-8">
				<img src="assets/images/responsive.png" class="responsive" alt="Responsive components">
				<div class="h3">One solution for every device.</div>
				<p>Every compontent and function of TorqueUI is made with Responsive web design in mind, making your design funtional and responsive on every device from a small phone to a large desktop screen.</p>
			</div>
			<div class="col-s-4 col-m-4 col-l-4 col-xl-8">
				<img src="assets/images/customize.png" class="responsive" alt="Customizable components">
				<div class="h3">Easily customizable.</div>
				<p>With TorqueUI we wanted to build a framework that was easy to customize. So we split it into two major parts. A framework section, and a theme section. Making it easy for you to replace or ignore the coloring and themeing.</p>
			</div>
			<div class="col-s-4 col-m-12 col-l-12 col-xl-24">
				<hr class="separator">
			</div>
		</div>

		<div class="row">
			<div class="col-s-4 col-m-12 col-l-12 col-xl-24 text-center">
				<h3 class="text-center">TorqueUI is open source. It's hosted, developed, and maintained on GitHub.</h2>
				<a href="https://github.com/SmartWebDK/TorqueUI" class="button large">Visit the project on Github</a>
			</div>
			<div class="col-s-4 col-m-12 col-l-12 col-xl-24">
				<hr class="separator">
			</div>
		</div>

		<div class="row">
			<div class="col-s-4 col-m-6 col-l-6 col-xl-12">
				<h1>Why use a framework?</h1>
				<p>The main reason to use a UI framework like TorqueUI is to cut down on your development and design time. By giving you prebuild components, structured and reusable code. With the components and functionality build into frameworks like TorqueUI it is really easy to build and setup your own website, even for beginners. Just follow the example and guidelines on this site, and you can have it up and running in no time.</p>
				</div>
			<div class="col-s-4 col-m-6 col-l-6 col-xl-12">
				<h1>Why use TorqueUI?</h1>
				<p>Like many other frameworks, with TorqueUI, we have spent alot of time developing code and components, that are responsive, so that you don't have to. We have taken commen UX patterns and build components around them, making it easy for you to reuse and build your own responsive website.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-s-4 col-m-6 col-l-6 col-xl-12">
				<hr class="separator">
			</div>
			<div class="col-s-4 col-m-6 col-l-6 col-xl-12">
				<hr class="separator">
			</div>
			<div class="col-s-4 col-m-12 col-l-12 col-xl-24">
				<h1>Technologies</h1>
				<p>With TorqueUI we have decided to build it with <a href="http://sass-lang.com/" title="Sass">Sass</a> and <a href="http://compass-style.org/">Compass</a>. Sass is a CSS precompiler, that is an extension of your normal CSS, and makes it possible to do alot more; Things like variables, color manipulation, functions and nesting, are just some prime examples. Compass is a framework for Sass, and is basicly a big collection of helpers and functions to extend the already excellent Sass functions. To controll all of this, we have decided to use <a href="http://gruntjs.com/" title="Grunt">Grunt</a> a task manager and build tool, build with Javascript. </p>

				<p>Some of our components are more complex then what is possible with simple CSS and HTML, so we have also build some Javascript libraries that accomendate the corrosponding CSS and HTML components. These libraries require <a href="http://jquery.com">jQuery</a> to work.</p>
			</div>
		</div>

		<hr class="separator">
		<div class="row">
			<div class="col-s-4 col-m-4 col-l-4 col-xl-8">
				<span class="h6">{{ site.collections.css.title }}</span>
				<ul class="l-list-inline">
				{% assign cssPages = site.collections.css.docs | sort:'order' %}
				{% for link in cssPages %}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
				</ul>
			</div>
			<div class="col-s-4 col-m-4 col-l-4 col-xl-8">
				<span class="h6">{{ site.collections.components.title }}</span>
				<ul class="l-list-inline">
				{% assign componentsPages = site.collections.components.docs | sort:'order' %}
				{% for link in componentsPages %}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
				</ul>
			</div>
			<div class="col-s-4 col-m-4 col-l-4 col-xl-8">
				<span class="h6">{{ site.collections.javascript.title }}</span>
				<ul class="l-list-inline">
				{% assign javascriptPages = site.collections.javascript.docs | sort:'order' %}
				{% for link in javascriptPages %}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</section>
</div>
