//
// Theme
// -----------------------------------------------------------------------------


// ==========================================================================
// Typography
// ==========================================================================

//
// Base
//

html {
    color: $color-base;
}

//
// Headings
//

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: $color-headings;
}

//
// Hyperlinks
//

a, a:visited {
    text-decoration: underline;
    color: $color-highlight;

    &:hover {
        text-decoration: none;
        color: darken($color-highlight, 10%);
    }
    &:focus {
        outline: thin dotted;
    }
    a:hover,
    a:active {
        outline: none;
    }
}

//
// Color adjust <b> and <strong>
//

b, strong {
    color: darken($color-main, 10%);
}

//
// Color adjust <del> and <s>
//

s, del {
    color: lighten($color-main, 20%);
}

//
// Small
//

small,
.small {
    color: $color-small-caps;
}

//
// Marked element
//

mark,
.mark {
    color: color($color-highlight, #fff, $color-main);       // in _mixins.scss
    background-color: $color-highlight;
}

//
// HR
//

hr {
    border-color: $color-border;
}


// ==========================================================================
// Inputs
// ==========================================================================

//
// Inputs and selects
//

.form-input {
    border-color: $color-border;
    background-color: $color-default-bck;
    color: $color-main;

    @include box-shadow(inset 0 1px 5px rgba(0,0,0,.1));

    &:hover {
        background-color: $color-default-bck-hover;
    }

    &:focus {
        @include box-shadow(0 0 4px 1px rgba(190,234,255,.75), inset 0 1px 5px rgba(0,0,0,.1));
    }

    //
    // Disable styles
    //

    &[disabled],
    &:disabled {
        @extends .is-disabled;
    }
}

//
// Selectbox
//
// 1) Arrow on dropdown
// 2) It's impossible to remove arrow on Firefox, so we just use a background color
//

.form-select {
    @extends %caret-image;
}

//
// Commen checkbox and radiobutton styles
//

.input-group-addon {
    background-color: $color-gray;
    border-color: $color-border;

    .input-group:hover &,
    .input-group:focus & {
        background-color: $color-gray-dark;
    }
}
.input-group-image img {
    border-color: $color-border;
}


// ==========================================================================
// Buttons
// ==========================================================================

button {
    background-color: #c0c0c0;

    &:hover,
    &:focus {
        background-color: darken(#c0c0c0, 5%);
    }

    &:active {
        @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
    }

    &.button-icon {
        > .fa {
            background-color: $color-gray;
        }
        &:active > .fa {
            @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
        }
        &:hover > .fa,
        &:focus > .fa {
            background-color: $color-gray-dark;
        }
    }
}

//
// Default button theming
//

.button {
    border-color: $color-border;
    color: $color-main;
    background-color: $color-default-bck;

    &:hover,
    &:focus {
        color: $color-main;
        background-color: $color-default-bck-hover;
    }

    &:active {
        color: $color-main;
        @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
    }

    &.button-icon {
        > .fa {
            background-color: $color-subtle;
        }
        &:active > .fa {
            @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
        }
        &:hover > .fa,
        &:focus > .fa {
            background-color: darken($color-subtle, 10%);
        }
    }
}

//
// Primary button theming
//

.button-primary {
    border-color: $color-border;
    color: color($color-highlight, #fff, $color-main);
    text-transform: uppercase;
    font-weight: bold;
    background-color: $color-highlight;

    &:hover,
    &:focus {
        background-color: darken($color-highlight, 2%);
        color: color($color-highlight, #fff, $color-main);
    }

    &:active {
        color: color($color-highlight, #fff, $color-main);
        @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
    }

    &.button-icon {
        > .fa {
            background-color: darken($color-highlight, 10%);
        }
        &:active > .fa {
            @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
        }
        &:hover > .fa,
        &:focus > .fa {
            background-color: darken($color-highlight, 15%);
        }
    }
}

//
// Text button themeing
//

.button-text {
    color: $color-highlight;
    text-decoration: none;
    background-color: transparent;

    &:hover,
    &:focus {
        color: darken($color-highlight, 5%);
        background-color: transparent;
        text-decoration: underline;
        @include box-shadow(none);
    }

    &:active {
        color: darken($color-highlight, 10%);
    }
}

// ==========================================================================
// Panels
// ==========================================================================

.panel {
    border-color: $color-border;
    color: $color-main;
    background-color: $color-default-bck;

    .panel-heading,
    .panel-footer {
        border-color: $color-border;
    }
}

    .panel-heading {
        padding: ($global-padding/2) $global-padding;
        margin-bottom: -1px;
    }

    .panel-body {
        padding: $global-padding $global-padding ($global-padding/2) $global-padding;
    }

    .panel-footer {
        padding: ($global-padding/2) $global-padding;
        margin-top: -1px;
    }

.panel-info {
    border-color: $color-info;
    color: $color-info-dark;
    background-color: $color-info-light;

    .panel-heading,
    .panel-footer {
        border-color: $color-info;
    }
}

.panel-success {
    border-color: $color-callout;
    color: $color-callout-dark;
    background-color: $color-callout-light;

    h1,h2,h3,h4,h5,h6 {
        color: $color-callout-dark;
    }

    .panel-heading,
    .panel-footer {
        border-color: $color-callout;
    }
}

.panel-warning {
    border-color: $color-warning;
    color: $color-warning-dark;
    background-color: $color-warning-light;

    h1,h2,h3,h4,h5,h6 {
        color: $color-warning-dark;
    }

    .panel-heading,
    .panel-footer {
        border-color: $color-warning;
    }
}

.panel-danger {
    border-color: $color-danger;
    color: $color-danger-dark;
    background-color: $color-danger-light;

    h1,h2,h3,h4,h5,h6 {
        color: $color-danger-dark;
    }

    .panel-heading,
    .panel-footer {
        border-color: $color-danger;
    }
}

// ==========================================================================
// Global
// ==========================================================================

//
// Disabled class
//

.is-disabled {
    color: $color-main-light;
}

//
// Caret iamge used on elements like form select
//

%caret-image {
    background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==');
}

