//
// Theme colors
// -----------------------------------------------------------------------------


// ==========================================================================
// Extends
// ==========================================================================

//
// Font colors
//

.theme-color-default {                  color: #fff; }
.theme-color-base {                     @extend .theme-color-main; }
.theme-color-main {                     color: $color-main; }
.theme-color-main-light {               color: $color-main-light; }
.theme-color-highlight {                color: $color-highlight; }

//
// Backgrounds
//

.theme-background-transparent {         background-color: transparent; }
.theme-background-subtle {              background-color: $color-subtle; }
.theme-background-main {                background-color: $color-main; }
.theme-background-main-dark {           background-color: $color-main-dark; }
.theme-background-highlight {           background-color: $color-highlight; }
.theme-background-highlight-light-30 {  background-color: lighten($color-highlight, 30%); }
.theme-background-highlight-light-20 {  background-color: lighten($color-highlight, 20%); }
.theme-background-highlight-dark-5 {    background-color: darken($color-highlight, 5%); }
.theme-background-highlight-dark-10 {   background-color: darken($color-highlight, 10%); }
.theme-background-highlight-dark-15 {   background-color: darken($color-highlight, 15%); }
.theme-background-highlight-dark-25 {   background-color: darken($color-highlight, 25%); }
.theme-background-highlight-dark-30 {   background-color: darken($color-highlight, 30%); }
.theme-background-gray {                background-color: $color-gray; }
.theme-background-gray-dark {           background-color: $color-gray-dark; }
.theme-background-default {             background-color: $color-default-bck; }
.theme-background-default-hover {       background-color: $color-default-bck-hover; }

//
// Borders
//

.theme-border-transparent {             border-color: transparent }
.theme-border-highlight {               border-color: $color-highlight; }
.theme-border-highlight-dark-10 {       border-color: darken($color-highlight, 10%); }
.theme-border-gray-dark {               border-color: $color-gray-dark; }
.theme-border-gray-light {              border-color: $color-border !important; }
.theme-border-main {                    border-color: $color-main; }
.theme-border-main-dark {               border-color: $color-main-dark; }
.theme-border-info {                    border-color: $color-info; }

// ==========================================================================
// Typography
// ==========================================================================

//
// Base
//

html {
    @extend .theme-color-base;
}

//
// Headings
//

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: $color-headings;
}

//
// Hyperlinks
//

a, a:visited {
    text-decoration: none;
    @extend .theme-color-highlight;

    &:hover {
        text-decoration: none;
        color: darken($color-highlight, 10%);
    }
    &:focus {
        outline: thin dotted;
    }
    a:hover,
    a:active {
        outline: none;
    }
}

//
// Color adjust <del> and <s>
//

s, del {
    @extend .theme-color-main-light;
}

//
// Small
//

small {
    @extend .theme-color-main-light;
}

//
// Marked element
//

mark,
.mark {
    color: color($color-highlight, #fff, $color-main);       // in _mixins.scss
    @extend .theme-background-highlight;
}

//
// Badge
//
.badge {
    @include border-radius();

    &.badge-clean {
        @extend .theme-background-default;
        @extend .theme-color-main;
    }
    &.badge-info {
        background-color: $color-info-light;
        color: $color-info-dark;
    }
    &.badge-succes {
        background-color: $color-callout-light;
        color: $color-callout-dark;
    }
    &.badge-warning {
        background-color: $color-warning-light;
        color: $color-warning-dark;
    }
    &.badge-danger {
        background-color: $color-danger-light;
        color: $color-danger-dark;
    }
}

//
// HR
//

hr {
    @extend .theme-border-gray-light;
}


// ==========================================================================
// Inputs
// ==========================================================================

//
// Inputs and selects
//

.form-input, .form-label {
    @extend .theme-border-gray-light;
    @extend .theme-background-default;
    @extend .theme-color-main;

    @include box-shadow(inset 0 1px 5px rgba(0,0,0,.1));

    &:hover {
        @extend .theme-background-default-hover;
    }

    &:focus {
        @include box-shadow(0 0 4px 1px rgba(190,234,255,.75), inset 0 1px 5px rgba(0,0,0,.1));
    }

    //
    // Disable styles
    //
    &.is-disabled,
    &:disabled {
        @extend .theme-color-main-light;
    }
}

//
// Selectbox
//
// 1) Arrow on dropdown
// 2) It's impossible to remove arrow on Firefox, so we just use a background color
//

.form-select {
    @extend %caret-image;
}

//
// Commen checkbox and radiobutton styles
//

.input-group-addon,
.input-group-image img  {
    @extend .theme-background-gray;
    @extend .theme-border-gray-light;

    .input-group:hover &,
    .input-group:focus & {
        @extend .theme-background-gray-dark;
    }
}


// ==========================================================================
// Buttons
// ==========================================================================

//
// Default button theming
//

.button,
.button:visited {
    @extend .theme-border-gray-light;
    @extend .theme-color-main;
    @extend .theme-background-default;

    &:hover,
    &:focus {
        @extend .theme-color-main;
        @extend .theme-background-default-hover;
    }

    &:active {
        @extend .theme-color-main;
        @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
    }

    //
    // Disable styles
    //

    &.is-disabled,
    &:disabled {
        color: $color-main-light !important;
    }
}

//
// Button-icon has a font-awesome icon inside which has special styling
//

.button.button-icon {
    > .fa {
        @extend .theme-background-default-hover;
    }
    &:active > .fa {
        // background-color: darken($color-subtle, 20%);
        @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
    }
    &:hover > .fa,
    &:focus > .fa {
        // background-color: darken($color-subtle, 10%);
    }

    //
    // Disabled styles
    //

    &.is-disabled,
    &:disabled {
        > .fa {
            background-color: lighten($color-subtle, 2%);
        }
    }
}

//
// Primary button theming
//

.button-primary,
.button-primary:visited {
    color: color($color-highlight, #fff, $color-main);
    text-transform: uppercase;
    font-weight: bold;

    @extend .theme-background-highlight;
    @extend .theme-border-gray-light;

    &:hover,
    &:focus {
        @extend .theme-background-highlight-dark-5;
        color: color($color-highlight, #fff, $color-main);
    }

    &:active {
        color: color($color-highlight, #fff, $color-main);
        @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
    }

    //
    // Disable styles
    //

    &.is-disabled,
    &:disabled {
        color: color($color-highlight, #fff, $color-main);
        @extend .theme-background-highlight-light-20;
    }
}

//
// Button-icon has a font-awesome icon inside which has special styling
//

.button-primary.button-icon {
    > .fa {
        @extend .theme-background-highlight-dark-10;
    }
    &:active > .fa {
        @extend .theme-background-highlight-dark-25;
        @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
    }
    &:hover > .fa,
    &:focus > .fa {
        @extend .theme-background-highlight-dark-15;
    }

    //
    // Disabled styles
    //

    &.is-disabled,
    &:disabled {
        > .fa {
                @extend .theme-background-highlight-light-30;
        }
    }
}

//
// Text button themeing
//

.button-text,
.button-text:visited {
    @extend .theme-color-highlight;
    text-decoration: none;
    @extend .theme-background-transparent;

    &:hover,
    &:focus {
        color: darken($color-highlight, 5%);
        @extend .theme-background-transparent;
        text-decoration: underline;
        @include box-shadow(none);
    }
    &:active {
        color: darken($color-highlight, 10%);
    }
}

// ==========================================================================
// Symbols
// ==========================================================================
.symbol {
    &.symbol-button {
        @extend .theme-color-main-light;

        &:hover {
            @extend .theme-color-main;
        }
    }
}


// ==========================================================================
// Panels
// ==========================================================================

.panel {

}

.panel-default {
    @extend .theme-border-transparent;
    @extend .theme-color-main;
    @extend .theme-background-transparent;

    .panel-heading,
    .panel-footer {
        @extend .theme-border-transparent;
    }
}

.panel-border {
    @extend .theme-border-gray-light;
    @extend .theme-color-main;
    @extend .theme-background-default;

    .panel-heading,
    .panel-footer {
        @extend .theme-border-gray-light;
    }
}

.panel-clean {
    @extend .theme-border-info;
    @extend .theme-color-main;
    @extend .theme-background-default;

    .panel-heading,
    .panel-footer {
        @extend .theme-border-info;
    }
}

.panel-info {
    @extend .theme-border-info;
    color: $color-info-dark;
    background-color: $color-info-light;

    .panel-heading,
    .panel-footer {
        @extend .theme-border-info;
    }
}

.panel-success {
    border-color: $color-callout;
    color: $color-callout-dark;
    background-color: $color-callout-light;

    h1,h2,h3,h4,h5,h6,
    .h1,.h2,.h3,.h4,.h5,.h6 {
        color: $color-callout-dark;
    }

    .panel-heading,
    .panel-footer {
        border-color: $color-callout;
    }
}

.panel-warning {
    border-color: $color-warning;
    color: $color-warning-dark;
    background-color: $color-warning-light;

    h1,h2,h3,h4,h5,h6,
    .h1,.h2,.h3,.h4,.h5,.h6 {
        color: $color-warning-dark;
    }

    .panel-heading,
    .panel-footer {
        border-color: $color-warning;
    }
}

.panel-danger {
    border-color: $color-danger;
    color: $color-danger-dark;
    background-color: $color-danger-light;

    h1,h2,h3,h4,h5,h6,
    .h1,.h2,.h3,.h4,.h5,.h6 {
        color: $color-danger-dark;
    }

    .panel-heading,
    .panel-footer {
        border-color: $color-danger;
    }
}


// ==========================================================================
// Navs
// ==========================================================================

//
// Default
//

    .nav-default {
        > li {
            > a {
                &:hover {
                    @extend .theme-background-subtle;
                }
            }
            &.active {
                > a {
                    @extend .theme-color-default;
                    @extend .theme-background-highlight;
                    border-width: 1px;
                    border-style: solid;
                    @extend .theme-border-highlight;
                }
            }
        }
    }

//
// Pills
//

    .nav-pills {
        > li {
            > a {
                &:hover {
                    @extend .theme-background-subtle;
                }
            }
            &.active {
                > a {
                    @extend .theme-color-default;
                    @extend .theme-background-highlight;
                    border-width: 1px;
                    border-style: solid;
                    @extend .theme-border-highlight;
                }
            }
        }
    }

//
// Tabs
//

    .nav-tabs {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $color-gray-dark;

        > li {

            > a {

                &:hover {
                    @extend .theme-background-subtle;
                    border-color: $color-subtle;
                    border-bottom-color: $color-gray-dark;
                }
            }

            &.active {
                > a {
                    @extend .theme-color-main;
                    @extend .theme-background-default;
                    border-width: 1px;
                    border-style: solid;
                    @extend .theme-border-gray-dark;
                }
            }
        }

        &.nav-justified {

            > li {

                > a {
                    border-bottom-width: 1px;
                    border-bottom-style: solid;
                    border-bottom-color: $color-gray-dark;
                }

                &.active {
                    > a {
                        border-width: 1px;
                        border-style: solid;
                        @extend .theme-border-gray-dark;
                    }
                }
            }
        }
    }

// ==========================================================================
// Navbar
// ==========================================================================

.navbar {
    border-width: 1px;
    border-style: solid;
    @extend .theme-border-transparent;

    .navbar-brand {
        @extend .theme-color-main;
    }
}

    .navbar-default {
        a {
            &:hover {
            }
        }

        .nav-tabs {
            > li {
                > a {
                    &:hover {
                        border-bottom-color: #fff;
                    }
                }
            }

            &.nav-justified {
                > li {
                    > a {
                        &:hover {
                            border-bottom-color: $color-gray-dark;
                        }
                    }
                }
            }
        }
    }

    .navbar-collapse {
    }

    .navbar-invert {
        @extend .theme-background-main;

        @extend .theme-border-main;

        .navbar-brand {
            color: invert($color-main);
        }

        .button-primary {
            @extend .theme-border-highlight;
        }

        .navbar-collapse {
        }

        .nav-tabs {
            > li {
                > a {
                    &:hover {
                        @extend .theme-background-main-dark;
                        @extend .theme-border-main-dark;
                        border-bottom-color: $color-main;
                    }
                }
                &.active {
                    > a {
                        @extend .theme-color-main;
                        @extend .theme-background-default;
                        border-width: 1px;
                        border-style: solid;
                        @extend .theme-border-gray-dark;
                    }
                }
            }

            &.nav-justified {
                margin-bottom: -1px;
                > li {
                    > a {
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        border-bottom-color: $color-main;
                    }
                }
            }
        }

        .nav-pills {
            > li {
                > a {
                    &:hover {
                        @extend .theme-background-main-dark;
                        @extend .theme-border-main-dark;
                    }
                }
                &.active {
                    > a {
                        @extend .theme-color-default;
                        @extend .theme-background-highlight;
                        border-width: 1px;
                        border-style: solid;
                        @extend .theme-border-highlight;
                    }
                }
            }
        }
    }


// ==========================================================================
// Dropdowns
// ==========================================================================

.dropdown-menu {
    @extend .theme-border-gray-light;
    @include box-shadow(2px 3px 3px rgba(0,0,0,.2));

    li {
        @extend .theme-background-default;

        &:nth-of-type(even):not(.divider) {
            @extend .theme-background-subtle;
        }

        > a {
            @extend .theme-color-main;
        }
    }

    .divider,
    .dropdown-footer {
        @extend .theme-border-gray-light;
    }

    .dropdown-header,
    .dropdown-footer {
        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: lighten($color-main, 5%);
        }
    }
}

// ==========================================================================
// Pagination
// ==========================================================================

.pagination {
    > li {
        > a {
            @extend .theme-background-default;
            @extend .theme-border-gray-light;
            @extend .theme-color-main;

            &:hover,
            &:focus {
                @extend .theme-background-default-hover;
                @extend .theme-color-main;
            }

            &:active {
                @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
            }
        }

        &.current {
            a {
                @extend .theme-background-highlight;
                @extend .theme-color-default;

                &:hover,
                &:focus {
                    @extend .theme-color-default;
                    @extend .theme-border-highlight-dark-10;
                    @extend .theme-background-highlight;
                }
            }
        }

        &.is-disabled {
            > a,
            > a:hover,
            > a:focus,
            > a:active {
                @extend .theme-color-main-light;
                @extend .theme-background-default-hover;
            }
        }
    }
}


// ==========================================================================
// Tables
// ==========================================================================


$opacity-subtle: rgba(darken($color-subtle, 34%), 0.1);

//
// Basic table placeholder class
//

%table {
    th,
    td {
        @extend .theme-border-gray-light;
    }
}

//
// horizontally striped table
//

.table-h-striped {
    @extend %table;
    tbody > tr:nth-child(odd) {
        background-color: $opacity-subtle;
    }
}

//
// Vertically striped table
//

.table-v-striped {
    @extend %table;
    tbody, thead, tfoot {
        td:nth-child(even),
        th:nth-child(even) {
            background-color: $opacity-subtle;
        }
    }
}

//
// Bordered tabled
//

.table-bordered {
    @extend %table;
    @extend .theme-border-gray-light;
}

//
// Responsive wrapper for tables
//

.responsive-table-wrap {
    @extend .theme-border-gray-light;
}


// ==========================================================================
// Global
// ==========================================================================

//
// Caret iamge used on elements like form select
//

%caret-image {
    background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==');
}

