//
// Theme
// -----------------------------------------------------------------------------

//
// Setup for framework default theme
//


// ==========================================================================
// Fonts
// ==========================================================================

//
// Font-face
//

$font-base-family                   : sans-serif;


// ==========================================================================
// Colors
// ==========================================================================

//
// Swatches
//

$color-highlight                    : #88888a;
$color-main                         : #656764;
$color-subtle                       : #9e9e9e;

$color-main-light                   : lighten($color-main, 30%);
$color-main-dark                    : darken($color-main, 10%);

$color-gray                         : #eee;
$color-gray-light                   : #dddbd9;
$color-gray-dark                    : darken(#eee, 10%);

$color-default-bck                  : #fff;
$color-default-bck-hover            : #f5f5f3;

$color-callout						: #9bc34d;
$color-callout-light				: #d7fa93;
$color-callout-dark					: #7c9c3e;

$color-info							: #ededeb;
$color-info-light					: #f5f5f3;
$color-info-dark					: $color-main;

$color-warning						: #faebcc;
$color-warning-light				: #fdf9e4;
$color-warning-dark					: #896c3b;

$color-danger						: #ebccd1;
$color-danger-light					: #f2dede;
$color-danger-dark					: #a94442;

//
// Fonts
//

$color-base                         : $color-main;
$color-headings                     : $color-main-dark;
$color-small-caps                   : $color-main-light;

//
// Border color used for elements like buttons, form elements and hr
//

$color-border                       : $color-gray-light;
