//
// Theme
// -----------------------------------------------------------------------------

//
// Setup for framework default theme
//


// ==========================================================================
// Fonts
// ==========================================================================

//
// Font-face
//

$font-base-family                   : sans-serif;
$font-headings-family               : "Raleway", sans-serif;


// ==========================================================================
// Colors
// ==========================================================================

//
// Swatches
//

$color-highlight                    : #f79420;
$color-main                         : #393c41;
$color-subtle                       : #f5f5f3;

$color-main-light                   : lighten($color-main, 30%);
$color-main-dark                    : darken($color-main, 10%);

$color-gray                         : #eee;
$color-gray-light                   : #dddbd9;
$color-gray-dark                    : darken(#eee, 10%);

$color-default-bck                  : #fff;
$color-default-bck-hover            : $color-subtle;

$color-callout						: #d6e9c6;
$color-callout-light				: #dff1d9;
$color-callout-dark					: #3c763d;

$color-info							: #ededeb;
$color-info-light					: #f5f5f3;
$color-info-dark					: $color-main;

$color-warning						: #faebcc;
$color-warning-light				: #fdf9e4;
$color-warning-dark					: #896c3b;

$color-danger						: #ebccd1;
$color-danger-light					: #f2dede;
$color-danger-dark					: #a94442;

//
// Fonts
//

$color-base                         : $color-main;
$color-headings                     : $color-main-dark;
$color-small-caps                   : $color-main-light;

//
// Border color used for elements like buttons, form elements and hr
//

$color-border                       : $color-gray-light;


// ==========================================================================
// Misc
// ==========================================================================

//
// Global border radius
//

$global-border-radius           : em(4px);

//
// Global paddings
//

$global-padding					: em(20px);
