//
// Theme colors
// -----------------------------------------------------------------------------


// ==========================================================================
// Typography
// ==========================================================================

//
// Base
//

html {
    color: $color-main;
}

//
// Headings
//

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: $color-headings;
}

//
// Hyperlinks
//

a, a:visited {
    text-decoration: none;
    color: $color-highlight;

    &:hover {
        text-decoration: none;
        color: darken($color-highlight, 10%);
    }
    &:focus {
        outline: thin dotted;
    }
    a:hover,
    a:active {
        outline: none;
    }
}

//
// Color adjust <del> and <s>
//

s, del {
    color: $color-main-light;
}

//
// Small
//

small {
    color: $color-main-light;
}

//
// Marked element
//

mark,
.mark {
    color: color($color-highlight, #fff, $color-main);       // in _mixins.scss
    background-color: $color-highlight;
}

//
// Badge
//
.badge {
    @include border-radius();

    &.badge-clean {
        background-color: $color-default-bck;
        color: $color-main;
    }
    &.badge-info {
        background-color: $color-info-light;
        color: $color-info-dark;
    }
    &.badge-succes {
        background-color: $color-callout-light;
        color: $color-callout-dark;
    }
    &.badge-warning {
        background-color: $color-warning-light;
        color: $color-warning-dark;
    }
    &.badge-danger {
        background-color: $color-danger-light;
        color: $color-danger-dark;
    }
}

//
// HR
//

hr {
    border-color: $color-border !important;
}


// ==========================================================================
// Inputs
// ==========================================================================

//
// Inputs and selects
//

.form-input,
.input-group-main.form-label {
    border-color: $color-border !important;
    background-color: $color-default-bck;
    color: $color-main;

    @include box-shadow(inset 0 1px 5px rgba(0,0,0,.1));

    &:hover {
        background-color: $color-default-bck-hover;
    }

    &:focus {
        @include box-shadow(0 0 4px 1px rgba(190,234,255,.75), inset 0 1px 5px rgba(0,0,0,.1));
    }

    //
    // Disable styles
    //
    &.is-disabled,
    &:disabled {
        color: $color-main-light;
    }
}

//
// Selectbox
//
// 1) Arrow on dropdown
// 2) It's impossible to remove arrow on Firefox, so we just use a background color
//

.form-select {
    @extend %caret-image;
}

//
// Commen checkbox and radiobutton styles
//

.input-group-addon,
.input-group-image img,
.input-group-main   {
    border-color: $color-border !important;
    background-color: $color-gray;

    .input-group:hover &,
    .input-group:focus & {
        background-color: $color-gray-dark;
    }
}


// ==========================================================================
// Buttons
// ==========================================================================

//
// Default button theming
//

.button,
.button:visited {
    border-color: $color-border !important;
    color: $color-main;
    background-color: $color-default-bck;

    &:hover,
    &:focus {
        color: $color-main;
        background-color: $color-default-bck-hover;
    }

    &:active {
        color: $color-main;
        @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
    }

    //
    // Disable styles
    //

    &.is-disabled,
    &:disabled {
        color: $color-main-light !important;
    }
}

//
// Button-icon has a font-awesome icon inside which has special styling
//

.button.button-icon {
    > .fa {
        background-color: $color-default-bck-hover;
    }
    &:active > .fa {
        // background-color: darken($color-subtle, 20%);
        @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
    }
    &:hover > .fa,
    &:focus > .fa {
        // background-color: darken($color-subtle, 10%);
    }

    //
    // Disabled styles
    //

    &.is-disabled,
    &:disabled {
        > .fa {
            background-color: lighten($color-subtle, 2%);
        }
    }
}

//
// Primary button theming
//

.button-primary,
.button-primary:visited {
    color: color($color-highlight, #fff, $color-main);
    text-transform: uppercase;
    font-weight: bold;

    background-color: $color-highlight;
    border-color: $color-border !important;

    &:hover,
    &:focus {
        background-color: darken($color-highlight, 5%);
        color: color($color-highlight, #fff, $color-main);
    }

    &:active {
        color: color($color-highlight, #fff, $color-main);
        @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
    }

    //
    // Disable styles
    //

    &.is-disabled,
    &:disabled {
        color: color($color-highlight, #fff, $color-main);
        background-color: lighten($color-highlight, 20%);
    }
}

//
// Button-icon has a font-awesome icon inside which has special styling
//

.button-primary.button-icon {
    > .fa {
        background-color: darken($color-highlight, 10%);
    }
    &:active > .fa {
        background-color: darken($color-highlight, 25%);
        @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
    }
    &:hover > .fa,
    &:focus > .fa {
        background-color: darken($color-highlight, 15%);
    }

    //
    // Disabled styles
    //

    &.is-disabled,
    &:disabled {
        > .fa {
                background-color: lighten($color-highlight, 30%);
        }
    }
}

//
// Text button themeing
//

.button-text,
.button-text:visited {
    color: $color-highlight;
    text-decoration: none;
    background-color: transparent;

    &:hover,
    &:focus {
        color: darken($color-highlight, 5%);
        background-color: transparent;
        text-decoration: underline;
        @include box-shadow(none);
    }
    &:active {
        color: darken($color-highlight, 10%);
    }
}

// ==========================================================================
// Symbols
// ==========================================================================
.symbol {
    &.symbol-button {
        color: $color-main-light;

        &:hover {
            color: $color-main;
        }
    }
}


// ==========================================================================
// Panels
// ==========================================================================

.panel {

}

.panel-default {
    border-color: transparent;
    color: $color-main;
    background-color: transparent;

    .panel-heading,
    .panel-footer {
        border-color: transparent;
    }
}

.panel-border {
    border-color: $color-border !important;
    color: $color-main;
    background-color: $color-default-bck;

    .panel-heading,
    .panel-footer {
        border-color: $color-border !important;
    }
}

.panel-clean {
    border-color: $color-info;
    color: $color-main;
    background-color: $color-default-bck;

    .panel-heading,
    .panel-footer {
        border-color: $color-info;
    }
}

.panel-info {
    border-color: $color-info;
    color: $color-info-dark;
    background-color: $color-info-light;

    .panel-heading,
    .panel-footer {
        border-color: $color-info;
    }
}

.panel-success {
    border-color: $color-callout;
    color: $color-callout-dark;
    background-color: $color-callout-light;

    h1,h2,h3,h4,h5,h6,
    .h1,.h2,.h3,.h4,.h5,.h6 {
        color: $color-callout-dark;
    }

    .panel-heading,
    .panel-footer {
        border-color: $color-callout;
    }
}

.panel-warning {
    border-color: $color-warning;
    color: $color-warning-dark;
    background-color: $color-warning-light;

    h1,h2,h3,h4,h5,h6,
    .h1,.h2,.h3,.h4,.h5,.h6 {
        color: $color-warning-dark;
    }

    .panel-heading,
    .panel-footer {
        border-color: $color-warning;
    }
}

.panel-danger {
    border-color: $color-danger;
    color: $color-danger-dark;
    background-color: $color-danger-light;

    h1,h2,h3,h4,h5,h6,
    .h1,.h2,.h3,.h4,.h5,.h6 {
        color: $color-danger-dark;
    }

    .panel-heading,
    .panel-footer {
        border-color: $color-danger;
    }
}


// ==========================================================================
// Navs
// ==========================================================================

//
// Default
//

.nav-default,
.nav .dropdown-menu,
.nav .dropdown-stripped {
    background-color: $color-default-bck;
    li {
        &:hover {
            background-color: $color-subtle;
            a {
                color: $color-highlight;
            }
        }

        a {
            color: $color-highlight;
        }

        &.active {
            background-color: $color-highlight;
            border-width: 1px;
            border-style: solid;
            border-color: $color-highlight;
            > a {
                color: #fff;
            }
        }
    }
}

//
// Pills
//

    .nav-pills {
        background-color: $color-default-bck;
        > li {
            > a:hover {
                background-color: $color-subtle;
            }
            &.active > a {
                color: #fff;
                background-color: $color-highlight;
                border-color: $color-highlight;
                border-width: 1px;
                border-style: solid;
            }
        }
    }

//
// Tabs
//

    .nav-tabs {
        background-color: $color-default-bck;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $color-gray-dark;

        li {
            > a:hover {
                background-color: $color-subtle;
                border-color: $color-subtle;
                border-bottom-color: $color-gray-dark;
            }

            &.active > a {
                color: $color-main;
                background-color: $color-default-bck;
                border-color: $color-gray-dark;
                border-width: 1px;
                border-style: solid;
            }
        }

        &.nav-justified > li {
            > a {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: $color-gray-dark;
            }
            &.active > a {
                border-width: 1px;
                border-style: solid;
                border-color: $color-gray-dark;
            }
        }
    }

// ==========================================================================
// Navbar
// ==========================================================================

.navbar {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;

    .navbar-brand {
        color: $color-main;
    }
}


// ==========================================================================
// Dropdowns
// ==========================================================================

.dropdown {
    background-color: $color-default-bck;
}

.dropdown-menu,
.dropdown-stripped {
    background-color: $color-default-bck;
    border-color: $color-border !important;
    @include box-shadow(2px 3px 3px rgba(0,0,0,.2));


    .divider,
    .dropdown-footer {
        border-color: $color-border !important;
    }

    .dropdown-header,
    .dropdown-footer {
        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            color: lighten($color-main, 5%);
        }
    }

    li > a {
        color: $color-main;
        &:hover {
            color: $color-main-light;
        }
    }
}

.dropdown-stripped {
    li {
        background-color: $color-default-bck;

        &:nth-of-type(even):not(.divider) {
            background-color: $color-subtle;
        }
    }
}

// ==========================================================================
// Pagination
// ==========================================================================

.pagination {
    > li {
        > a {
            background-color: $color-default-bck;
            border-color: $color-border !important;
            color: $color-main;

            &:hover,
            &:focus {
                background-color: $color-default-bck-hover;
                color: $color-main;
            }

            &:active {
                @include box-shadow(inset 0 2px 3px rgba(0,0,0,.15));
            }
        }

        &.current a {
            background-color: $color-highlight;
            color: #fff;

            &:hover,
            &:focus {
                color: #fff;
                border-color: darken($color-highlight, 10%);
                background-color: $color-highlight;
            }
        }

        &.is-disabled {
            > a,
            > a:hover,
            > a:focus,
            > a:active {
                color: $color-main-light;
                background-color: $color-default-bck-hover;
            }
        }
    }
}

// ==========================================================================
// Lists
// ==========================================================================


//
// Striped theme
//

.t-striped {
    > li:nth-child(odd) {
        background-color: $color-subtle;
    }
}

.t-border-bottom {
    > li {
        border-bottom: 1px solid $color-border;
    }
}


// ==========================================================================
// Tables
// ==========================================================================

//
// Basic table placeholder class
//

.table {
    th,
    td {
        border-color: $color-border !important;
    }
}

//
// horizontally striped table
//

.table-h-striped {
    @extend .table;
    tbody > tr:nth-child(odd) {
        background-color: rgba(darken($color-subtle, 34%), 0.1);
    }
}

//
// Vertically striped table
//

.table-v-striped {
    @extend .table;
    tbody, thead, tfoot {
        td:nth-child(even),
        th:nth-child(even) {
            background-color: rgba(darken($color-subtle, 34%), 0.1);
        }
    }
}

//
// Bordered tabled
//

.table-bordered {
    @extend .table;
    border-color: $color-border !important;
}

//
// Responsive wrapper for tables
//

.responsive-table-wrap {
    border-color: $color-border !important;
}


// ==========================================================================
// Global
// ==========================================================================

//
// Caret iamge used on elements like form select
//

%caret-image {
    background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==');
}

