<div class="body">
    <div class="container">
        <div class="row">
            <aside class="col-s-4 col-m-3 col-l-3 col-xl-6">
                <ul class="list-menu">
                    <li>test</li>
                </ul>
            </aside>
            <div class="post col-s-4 col-m-9 col-l-9 col-xl-18">

                <div class="post-article">
                    <header>
                        <h1><a name="#{{ page.title }}">{{ page.title }}</a></h1>
                    </header>
                    <div class="body">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>
</div>