<div class="body">
    <div class="container with-xlarge">
        <div class="row">
            <aside class="col-s-4 col-m-3 col-l-3 col-xl-6">
            {% if page.order and page.url | remove_first:"/" contains "/" %}
                {% assign parts = page.url | split:"/" %}
                {% assign collection = parts[1] %}
                <span class="h3">{{ site.collections[collection].title }}</span>
                <ul class="list-unstyled">
                    {% for docs in site.collections[collection].docs | sort:"order" %}
                        {% assign lcaseTitle = docs.title | downcase %}
                        <li><a href="{{ docs.url }}" title="{{ docs.title }}" class="{% if page.url contains lcaseTitle %}button{% else %}button-text{% endif %}">{{ docs.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            </aside>
            <div class="post col-s-4 col-m-9 col-l-9 col-xl-18">
                <div class="post-article post">
                    <header>
                        <h1><a name="#{{ page.title }}">{{ page.title }}</a></h1>
                    </header>
                    <div class="body">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>
</div>
