<div class="row">
    <div class="col-s-4 col-m-12 col-l-12 col-xl-12">
        <h1>Getting started</h1>
        <p class="lead">Grunt and Grunt plugins are installed and managed via npm, the Node.js package manager.
        Grunt 0.4.x requires stable Node.js versions >= 0.8.0. Odd version numbers of Node.js are considered unstable development versions.</p>
    </div>
    <div class="col-s-4 col-m-12 col-l-12 col-xl-12">
        <h1>Installing the CLI</h1>
        <p>If you're upgrading from Grunt 0.3, please see Grunt 0.3 Notes</p>
        <p>In order to get started, you'll want to install Grunt's command line interface (CLI) globally. You may need to use sudo (for OSX, *nix, BSD etc) or run your command shell as Administrator (for Windows) to do this.</p>
{% highlight ruby %}
$ gem install bundler
{% endhighlight %}

{% highlight ruby %}
$ npm install -g grunt-cli
{% endhighlight %}

{% highlight ruby %}
$ bundler install
$ npm install
{% endhighlight %}

Start the test server
{% highlight ruby %}
$ grunt server
{% endhighlight %}

Watch the CSS files
{% highlight ruby %}
$ grunt
{% endhighlight %}

Build the CSS files
{% highlight ruby %}
$ grunt dist
{% endhighlight %}
    </div>
</div>