<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-s-4 col-m-12 col-l-12 col-xl-24">
                <nav class="navbar">
                    <div class="navbar-header">
                        <button type="button" class="button-primary navbar-toggle" data-toggle="collapse" data-target="main-navbar">Menu</button>
                        <a class="navbar-brand" href="/"><span>{{ site.name }}</span></a>
                    </div>
                    <div class="navbar-collapse">
                        <ul class="nav nav-default navbar-pull-left">
                        {% assign ordered = site.pages | sort:"order" %}
                        {% for p in ordered | reverse %}
                            {% if p.path != 'index.html' and p.order %}
                                <li {% if page.url == p.url %}class="active"{% endif %}>
                                    <a class="extra" href="/{{ p.path }}/">{{ p.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
