---
layout: post
title: Components
path: components
order: 5
---

<p class="lead">Components are more complex then CSS elements, and but are often based on or build around CSS elements.</p>

<p>The components we have build into TorqueUI are mostly drag'n'drop (-or copy/paste) and should be easy to use and reuse. We have tried to make the examples and the code easy to understand and both build on and build with. Follow the links to the examples, and we what kind of components we have build into TorqueUI.</p>
