//
// Base style
// -----------------------------------------------------------------------------

//
// Box-sizing for elments
//

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//
// Set HTML height
//

html {
    height: 100%;
}

//
// Body height
//

body {
    min-height: 100%;
}
