//
// Base style
// -----------------------------------------------------------------------------

//
// Box-sizing for elments
//

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//
// Set HTML height
//

html {
    height: 100%;
}

//
// Body height
//

body {
    min-height: 100%;
}


// ==========================================================================
// Baseline helpers
// ==========================================================================

//
// Classes for vertical distance
//

.trailing {
    margin: 0 auto rhythm(2, $font-base);

    &.double {
        @extend .trailing-db;
    }

    &.triple {
        @extend .trailing-trip;
    }
}
.trailing-db {
    margin: 0 auto rhythm(4, $font-base);
}
.trailing-trip {
    margin: 0 auto rhythm(6, $font-base);
}

//
// Baseline reset
//

.base-reset {
    margin: 0 auto rhythm(2, $font-base);
    padding: 0;
}
