//
// Typography
// -----------------------------------------------------------------------------

// ==========================================================================
// Vertical rhythm and baseline grid
// resource:
//  http://compass-style.org/reference/compass/typography/vertical_rhythm/
//  http://atendesigngroup.com/blog/vertical-rhythm-compass
// ==========================================================================
@import "compass/typography/vertical_rhythm";


// ==========================================================================
// Setup
// ==========================================================================

$base-font-size: $font-base;
$base-line-height: $font-header-line-height;


//
// Base
//
// Font-sizes are based on EM and the font-size of <html> is set
// to and %-based setting, so it responds to browser specific zoom.
// Font-size is set to a % of 16px (which is default).
//

html {
    font-size: $font-default-size;
    line-height: $font-line-height;
    font-family: $font-base-family;
    font-weight: $font-weight;

    @include at-breakpoint($medium) {
        font-size: $font-medium-size;
    }


    @include at-breakpoint($large) {
        font-size: $font-large-size;
    }


    @include at-breakpoint($xlarge) {
        font-size: $font-xlarge-size;
    }
}

body {
    @include css-hyphens(auto);
    @extend %breakword;
    color: $color-base;
}


// ==========================================================================
// Headings
// ==========================================================================

//
// Headings and .heading classes
//

$sizes: h1 $h1, h2 $h2, h3 $h3, h4 $h4, h5 $h5, h6 $h6;
@each $size in $sizes {
    #{nth($size, 1)}, .#{nth($size, 1)} {
        @extend %hN;
        @include adjust-font-size-to(nth($size, 2));
        margin: rhythm(4, nth($size, 2)) auto rhythm(3, nth($size, 2));
    }
}

%hN {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    color: $color-headings;


    small,
    .small {
        font-size: $font-small-print-size;
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }
}


// ==========================================================================
//
// ==========================================================================

//
// Main font-size setup
//

p,
td,
li,
dt,
dd,
input,
textarea,
button,
select {
    @include adjust-font-size-to($font-base);
}


//
// Elements
//

p,
blockquote,
q,
pre,
address,
hr,
code,
samp,
dl,
ol,
ul,
form,
table,
fieldset,
menu,
img {
    margin: 0 auto rhythm(1, $font-base);
}


// ==========================================================================
// Smoother font experience
// ==========================================================================

body,
input,
button,
select,
textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


// ==========================================================================
// Smoother font & page loading
// Resouce: http://www.jonikorpi.com/a-smoother-page-load/
// ==========================================================================

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
a, p, li, td {
    opacity: 1;
    visibility: visible;
    /* Old IE */
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.wf-loading {
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6,
    a, p, li, td {
        opacity: 0;
    }
    .ie & {
        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6,
        a, p, li, td {
            visibility: hidden;
            /* Old IE */
        }
    }
}


// ==========================================================================
// Base elements
// ==========================================================================

//
// Hyperlinks
//

a, a:visited {
    text-decoration: none;

    &:hover {
       text-decoration: underline;
    }
    &:focus {
        outline: thin dotted;
    }
    a:hover,
    a:active {
        outline: none;
    }
}


//
// Styles Hyphenation
// Resource: http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
//

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
    @include css-hyphens(none);
}
abbr {
    @include smallcaps($color-small-caps, $font-small-caps-weight);
    &[title]:hover {
        cursor: help;
    }
}


//
// Styles Codeblocks
//

pre code {
    @extend %normal-wrap;
    @include white-space(pre-wrap);
}
pre {
    @include white-space(pre);
}
code {
    @include white-space(pre);
    font-family: monospace;
}


// ==========================================================================
// Lists
// ==========================================================================

//
// Base
//
ol,
ul,
dl {
    ol,
    ul,
    dl {
        margin-bottom: 0;
    }
}

// Easy extend for menus
// -------------------------
.list-menu {
    @extend .reset;
    list-style-type: none;
    list-style-image: none;
}

ul {}

dl {
    @include definition-list-style;
}




// ==========================================================================
// Simple print setup
// ==========================================================================

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
}
