//
// Typography
// -----------------------------------------------------------------------------

// ==========================================================================
// Vertical rhythm and baseline grid
// resource:
//  http://compass-style.org/reference/compass/typography/vertical_rhythm/
//  http://atendesigngroup.com/blog/vertical-rhythm-compass
// ==========================================================================
@import "compass/typography/vertical_rhythm";


// ==========================================================================
// Setup
// ==========================================================================

$base-font-size: $font-base;
$base-line-height: $font-header-line-height;


//
// Base
//
// Font-sizes are based on EM and the font-size of <html> is set
// to and %-based setting, so it responds to browser specific zoom.
// Font-size is set to a % of 16px (which is default).
//

html {
    font-size: $font-default-size;
    line-height: $font-line-height;
    font-family: $font-base-family;
    font-weight: $font-weight;

    @include at-breakpoint($medium) {
        font-size: $font-medium-size;
    }


    @include at-breakpoint($large) {
        font-size: $font-large-size;
    }


    @include at-breakpoint($xlarge) {
        font-size: $font-xlarge-size;
    }
}

body {
    @include css-hyphens(auto);
    @extend %breakword;
}


// ==========================================================================
// Headings
// ==========================================================================

//
// Headings and .heading classes
//

$sizes: h1 $h1, h2 $h2, h3 $h3, h4 $h4, h5 $h5, h6 $h6;
@each $size in $sizes {
    #{nth($size, 1)}, .#{nth($size, 1)} {
        @extend %hN;
        @include adjust-font-size-to(nth($size, 2));
        margin: rhythm(4, nth($size, 2)) auto rhythm(2, nth($size, 2));
    }
}

%hN {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;

    &:first-child {
        margin-top: 0;
    }

    small {
        font-size: $font-small-print-size;
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }

    a & {
        color: inherit;
        text-decoration: inherit;

        &:hover {
            color: inherit;
            text-decoration: inherit;
        }
    }
}


// ==========================================================================
// Baseline helpers
// ==========================================================================

//
// Classes for vertical distance
//

.trailing {
    margin: 0 auto rhythm(2, $font-base);

    &.double {
        @extend .trailing-db;
    }

    &.triple {
        @extend .trailing-trip;
    }
}
.trailing-db {
    margin: 0 auto rhythm(4, $font-base);
}
.trailing-trip {
    margin: 0 auto rhythm(6, $font-base);
}


// ==========================================================================
// Basic baseline setup
// ==========================================================================

//
// Main font-size setup
//

p,
input,
textarea,
button,
select {
    @include adjust-font-size-to($font-base);
}


//
// Base line of elements
//

p,
blockquote,
q,
pre,
address,
hr,
code,
samp,
dl,
ol,
ul,
form,
table,
fieldset,
nav,
img {
    @extend .trailing;
}


// ==========================================================================
// Smoother font experience
// ==========================================================================

body,
input,
button,
select,
textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


// ==========================================================================
// Smoother font & page loading
// Resouce: http://www.jonikorpi.com/a-smoother-page-load/
// ==========================================================================

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
a, p, li, td {
    opacity: 1;
    visibility: visible;
    /* Old IE */
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.wf-loading {
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6,
    a, p, li, td {
        opacity: 0;
    }
    .ie & {
        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6,
        a, p, li, td {
            visibility: hidden;
            /* Old IE */
        }
    }
}


// ==========================================================================
// Base elements
// ==========================================================================


//
// Styles Hyphenation
// Resource: http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
//

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
    @include css-hyphens(none);
}
abbr {
    @include smallcaps($color-small-caps, $font-small-caps-weight);
    &[title]:hover {
        cursor: help;
    }
}


//
// Styles Codeblocks
//

pre code {
    @extend %normal-wrap;
    @include white-space(pre-wrap);
}
pre {
    @include white-space(pre);
}
code {
    @include white-space(pre);
    font-family: monospace;
}

//
// Horizontal line
//

hr {
    height: 0;
    border: 0;
    border-top: 1px solid;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

mark,
.mark {
    display: inline-block;
    padding: 0 3px;
    border-radius: 3px;
}

//
// Labels need to be strong
//

label {
    font-weight: bold;
}

//
// Blockquotes
//

blockquote {
    padding: 0 1em 0 4em;
    position: relative;

    &:before {
        content: "\f10d";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 1.5em;
        display: block;
        position: absolute;
        left: 0.5em;
    }

    p:first-child {
        margin-top: 0;
    }

    small,
    .small {
        display: block;
        font-size: 100%;
        color: $color-main;
        @include trailer(1, $font-base, "margin");
    }
}

// ==========================================================================
// Simple print setup
// ==========================================================================

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
}
