.row.example {

    margin-top: 1em;
    margin-bottom: 1em;

    .box {
        border: 1px solid #ddd;
        background-color: #eef;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        border-radius: 4px;
    }
}
