.row.example {
    outline: 1px solid #d14;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    .box {
        border: 1px solid #ddd;
        background-color: #eef;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        border-radius: 4px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    &.level1 {
        > [class^="col"] > .box {
            margin-top: 2em;
        }
    }

    &.level2 {
        > [class^="col"] > .box {
            margin-top: 1.5em;
        }
    }

    &.level3 {
        > [class^="col"] > .box {
            margin-top: 1em;
        }
    }
}

.row-color {
    color: #d14;
}
