//
// Mixins
// -----------------------------------------------------------------------------

//
// Based on the darkness / lightness of the test color, return a dark og light
// color.
//

@function color($test, $light, $dark) {
    @if lightness($test) < 60% {
        // if the text colour is a dark colour
        // we need a light text color
        @return $light;
    } @else {
        // else it must be light so we need
        // a darker text color
        @return $dark;
    }
}

//
// Calculate px to em
// Resource: http://vvv.tobiassjosten.net/css/px-to-em-with-sass/
//

@function em($px, $font-base: $font-base) {
    @return ($px / $font-base) * 1em;
}

//
// Table-cell ie7 hack, avoid crash in ie7
//

@mixin ui-ie7-table-cell() {
    display: table-cell;
    *width: auto;
    *display: block;
    *float: left;
}

//
// Helper to remove rounded borders on elemenent list with rounded borders
//

@mixin ui-rounded-borders($nested: "") {
    @if $nested != "" {
        $nested: " > #{$nested}";
    }

    &:first-child#{$nested} {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;

        @if $nested != "" {
        margin-right: -1px;
        }
    }

    &:not(:first-child):not(:last-child)#{$nested} {
        border-right: 0;
        @if $nested != "" {
        margin-left: -1px;
        }
        @include border-radius(0);
    }

    &:last-child#{$nested} {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        @if $nested != "" {
        margin-left: -1px;
        }
    }
}

//
// Disabled shorthand
// 1) Make unclickable
//  Resource: https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
// 2) Make the element unable to select
//  Resource: https://developer.mozilla.org/en-US/docs/Web/CSS/user-select
//

@mixin ui-disabled {
    pointer-events: none;                                   // 1)
    -moz-user-select: none;                                 // 2)
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover,
    &:focus {
        cursor: not-allowed;
    }
}

// ==========================================================================
// Grid helpers
// ==========================================================================

//
// Always have the right grid settings
//

@mixin ui-with-grid-settings($size: "default") {
    @if $size == "medium" {
       // with-grid-settings([$<columns>, $<width>, <$gutter>, <$padding>]) { <@content> }
        @include with-grid-settings($grid-medium-columns, $grid-medium-column-width, $grid-medium-gutter, $grid-medium-gutter/2) {
            @content;
        }
    } @else if $size == "large" {
       // with-grid-settings([$<columns>, $<width>, <$gutter>, <$padding>]) { <@content> }
        @include with-grid-settings($grid-large-columns, $grid-large-column-width, $grid-large-gutter, $grid-large-gutter/2) {
            @content;
        }
    } @else if $size == "xlarge" {
       // with-grid-settings([$<columns>, $<width>, <$gutter>, <$padding>]) { <@content> }
        @include with-grid-settings($grid-xlarge-columns, $grid-xlarge-column-width, $grid-xlarge-gutter, $grid-xlarge-gutter/2) {
            @content;
        }
    } @else {
       // with-grid-settings([$<columns>, $<width>, <$gutter>, <$padding>]) { <@content> }
        @include with-grid-settings($grid-default-columns, $grid-default-column-width, $grid-default-gutter, $grid-default-gutter/2) {
            @content;
        }
    }
}

//
// Container helper
//

@mixin ui-grid-container($size: "default") {
    @include ui-with-grid-settings($size) {
        @include container;
    }
}

//
// Row helper
//

@mixin ui-grid-row($size: "default") {
    @include ui-with-grid-settings($size) {
        margin-left: -#{gutter(1) / 2};
        margin-right: -#{gutter(1) / 2};
    }
}

//
// Column helpers
//

@mixin ui-grid-column-base($size: "default") {
    @include ui-with-grid-settings($size) {
        $base:  ".";
        $selector: '#{$base}col';
        $size-selector: '#{$selector}#{ui-grid-shortsize($size)}';

        $columns-total: ui-grid-total_columns($size);
        $all-selector:  '';

        @for $col from 1 through $columns-total {
            @if $columns-total != $col {
                @if $all-selector != "" {
                    $all-selector:  '#{$all-selector} ,';
                }
                $all-selector: '#{$all-selector} #{$size-selector}-#{$col}';
            }
        }


        [class^="col-"]{
            margin-left: #{gutter(1) / 2};
            margin-right: #{gutter(1) / 2};
        }

        #{$all-selector} {
            float: left;
            display: inline;
        }
    }
}

@mixin ui-grid-columns($size: "default") {
    @include ui-with-grid-settings($size) {
        $base:  ".";
        $selector: '#{$base}col';
        $size-selector: '#{$selector}#{ui-grid-shortsize($size)}';

        $columns-total: ui-grid-total_columns($size);

        @for $col from 1 through $columns-total {
            $total-selector: '#{$size-selector}-#{$col}';
            #{$total-selector} {
                width: columns($col, $columns-total);
            }
        }
    }
}

@function ui-grid-total_columns($size: "default") {
    @if $size == "default" {
        @return $grid-default-columns;
    }

    @if $size == "medium" {
        @return $grid-medium-columns;
    }

    @if $size == "large" {
        @return $grid-large-columns;
    }

    @if $size == "xlarge" {
        @return $grid-xlarge-columns;
    }
}

@function ui-grid-shortsize($size: "default") {
    @if $size == "default" {
        @return "-s";
    }

    @if $size == "medium" {
        @return "-m";
    }

    @if $size == "large" {
        @return "-l";
    }

    @if $size == "xlarge" {
        @return "-xl";
    }
}
