//
// Mixins
// -----------------------------------------------------------------------------

//
// Based on the darkness / lightness of the test color, return a dark og light
// color.
//

@function color($test, $light, $dark) {
    @if lightness($test) < 60% {
        // if the text colour is a dark colour
        // we need a light text color
        @return $light;
    } @else {
        // else it must be light so we need
        // a darker text color
        @return $dark;
    }
}

//
// Calculate px to em
// Resource: http://vvv.tobiassjosten.net/css/px-to-em-with-sass/
//

@function em($px, $font-base: $font-base) {
    @return ($px / $font-base) * 1em;
}

//
// Table-cell ie7 hack, avoid crash in ie7
//

@mixin ui-ie7-table-cell() {
    display: table-cell;
    *width: auto;
    *display: block;
    *float: left;
}

//
// Helper to remove rounded borders on elemenent list with rounded borders
//

@mixin ui-rounded-borders($nested: "") {
    @if $nested != "" {
        $nested: " > #{$nested}";
    }

    &:first-child#{$nested} {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;

        @if $nested != "" {
        margin-right: -1px;
        }
    }

    &:not(:first-child):not(:last-child)#{$nested} {
        border-right: 0;
        @if $nested != "" {
        margin-left: -1px;
        }
        @include border-radius(0);
    }

    &:last-child#{$nested} {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        @if $nested != "" {
        margin-left: -1px;
        }
    }
}

