


// $BaseType
// -------------------------------------

$font-weight: normal;
$line-height: 1.65;
$font-size: 100;                                // percentage value (16 * 112.5% = 18px)
$font-base: 16 * ($font-size/100);              // converts our percentage to a pixel value
$font-family: sans-serif;                       // Non-font-face font-stack
$measure: $font-base * $line-height;

// $Paragraphs
// -------------------------------------

// Paragraph Styling Boolean
// 'false' means no vertical whitespace
// between subsequent paragraphs.
$paragraph-vertical-whitespace: false;


// $Small Print
// -------------------------------------
$small-print-size: 65%;


// $Color
// -------------------------------------
$body-copy-color: #444;
$heading-color: #222;


// $TypeScale
// -------------------------------------
$h1: 60; // 60 = 18 × 3.3333
$h2: 48; // 48 = 18 × 2.6667
$h3: 36; // 36 = 18 × 2
$h4: 24; // 24 = 18 × 1.3333
$h5: 21; // 21 = 18 × 1.1667
$h6: 18; // 18 = 18 × 1


// $TypeScale-Unit
// -------------------------------------
$type-scale-unit-value: rem;


// $SmallCaps
// -------------------------------------
$small-caps-color: gray;
$small-caps-weight: 600;
