//
// SIzes
// -----------------------------------------------------------------------------

// ==========================================================================
// Sizes
// ==========================================================================

//
// Defining the sizes used in the framework:
//  Large
//  Default
//  Small
//  XSmall
//

//
// Place holders for input sizes
//

%size-large {
    padding: 1em;
    font-size: 1em;
    line-height: 1.5em;
}

    %size-large-height {
        height: (1em + 1em + 1.5em);
    }

    %size-large-lineheight {
        line-height: (1em + 1em + 1.5em);
    }

%size-default {
    padding: .75em 1em;
    font-size: em(14px);
    line-height: 1.5em;
}

    %size-default-height {
        height: (.75em + .75em + 1.5em);
    }

    %size-default-lineheight {
        line-height: (.75em + .75em + 1.5em);
    }

%size-small {
    padding: .5em 1em;
    font-size: em(12px);
    font-weight: normal;
    line-height: 1.5em;
}

    %size-small-height {
        height: (.5em + .5em + 1.5em);
    }

    %size-small-lineheight {
        line-height: (.5em + .5em + 1.5em);
    }

%size-xsmall {
    padding: .25em .5em;
    font-size: em(12px);
    font-weight: normal;
    line-height: 1.5em;
}
    
    %size-xsmall-height {
        height: (.25em + .25em + 1.5em);
    }

    %size-xsmall-lineheight {
        line-height: (.25em + .25em + 1.5em);
    }

// ==========================================================================
// Sizes
// ==========================================================================

//
// Sizes for input groups and addons
//

//
// Large sizes
//

.large {
    &.form-input,
    &.form-label,
    &.pager-group > %button,
    &.pagination > li > a,
    &%button {
        @extend %size-large-height;
        @extend %size-large;
    }

    .input-group-main,
    .input-group-addon,
    .input-group-image,
    .input-group-button > %button {
        @extend %size-large-height;
        font-size: 1em;
        line-height: 1.5em;
    }

    &.pager-group > .button-icon,
    &.button-icon {
        padding-left: 58px !important;
        &.left {
            padding-left: 58px !important;
        }
        &.button-icon.right {
            padding-right: 58px !important;
            padding-left: 12px !important;
        }
        > .fa {
            padding: 1em !important;
            line-height: 1.5 !important;
            width: 46px !important;
        }
    }

    &.form-input,
    .input-group-main,
    .input-group-addon,
    .input-group-image,
    .input-group-button,
    .input-group-button > %button {
        @extend %size-large-height;
        *line-height: 1;
    }
}

//
// Default sizes
//

.default {
    &.form-input,
    &.form-label,
    &.pager-group > %button,
    &.pagination > li > a,
    &%button {
        @extend %size-default-height;
        @extend %size-default;
    }

    .input-group-main,
    .input-group-addon,
    .input-group-image,
    .input-group-button > %button {
        @extend %size-default-height;
        font-size: em(14px);
        line-height: 1.5em;
    }

    &.pager-group > .button-icon,
    &.button-icon {
        padding-left: 49px !important;
        &.left {
            padding-left: 49px !important;
        }
        &.button-icon.right {
            padding-right: 49px !important;
            padding-left: 12px !important;
        }
        .fa {
            padding: .5em 1em;
            line-height: 1.5 !important;
            width: 37px !important;
        }
    }

    &.form-input,
    .input-group-main,
    .input-group-addon,
    .input-group-image,
    .input-group-button,
    .input-group-button > %button {
        @extend %size-default-height;
        *line-height: 1;
    }
}

.form-input,
.input-group-main,
.input-group-addon,
.input-group-image,
.input-group-button,
.input-group-button > %button {
    @extend %size-default-height;
    *line-height: 1;
    *padding-top: 0;
    *padding-bottom: 0;
}


//
// Small sizes
//

.small {
    &.form-input,
    &.form-label,
    .input-group-main,
    .input-group-addon,
    .input-group-image,
    .input-group-button > %button,
    &.pager-group > %button,
    &.pagination > li > a,
    &%button {
        @extend %size-small-height;
        @extend %size-small;
    }

    &.pager-group > .button-icon,
    &.button-icon {
        padding-left: 42px !important;
        &.left {
            padding-left: 42px !important;
        }
        &.right {
            padding-right: 42px !important;
            padding-left: 12px !important;
        }
        > .fa {
            padding: .5em 1em;
            line-height: 1.5 !important;
            width: 30px !important;
        }
    }

    &.form-input,
    .input-group-main,
    .input-group-addon,
    .input-group-image,
    .input-group-button,
    .input-group-button > %button {
        @extend %size-small-height;
        *line-height: 1;
    }
}

//
// Xsmall sizes
//

.xsmall {
    &.form-input,
    &.form-label,
    .input-group-main,
    .input-group-addon,
    .input-group-image,
    .input-group-button > %button,
    &.pager-group > %button,
    &.pagination > li > a,
    &%button {
        @extend %size-xsmall-height;
        @extend %size-xsmall;
    }

    &.pager-group > .button-icon,
    &.button-icon {
        padding-left: 36px !important;
        &.left {
            padding-left: 36px !important;
        }
        &.right {
            padding-right: 36px !important;
            padding-left: 12px !important;
        }
        > .fa {
            padding: .5em;
            line-height: 1.5 !important;
            width: 24px !important;
        }
    }

    &.form-input,
    .input-group-main,
    .input-group-addon,
    .input-group-image,
    .input-group-button,
    .input-group-button > %button {
        @extend %size-xsmall-height;
        *line-height: 1;
    }
}



//
// Classes for seletc sizes
//

select {
    &.large {
        @extend %size-large-lineheight;
    }
    &.default {
        @extend %size-default-lineheight;
    }
    &.small {
        @extend %size-small-lineheight;
    }
    &.xsmall {
        @extend %size-xsmall-lineheight;
    }
}

