//
// Buttons
// -----------------------------------------------------------------------------

// ==========================================================================
// Button styles
// ==========================================================================

//
// Base button styling
//  1) Sizes in global/_states.scss
//

%button {
    border: 1px solid;
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
    width: auto;
    @include inline-block();

    white-space: nowrap;
    cursor: pointer;
    background-image: none;

    @include border-radius($global-border-radius);
    @include background-clip(padding-box);
    @extend %size-default;                                      // 1)

    &:focus {
        outline: none;
    }
    &:visited {
        color: inherit;
    }
    .input-group-button & {
        @include inline-block;
        margin: 0;
    }

    @include to(2) {
        width: 100%;
        display: block;
    }

    //
    // Disable styles
    //
    &.is-disabled,
    &:disabled {
        @include ui-disabled;
    }
}

//
// Default button styling
//  1) Theme in theme/_theme.scss
//

.button {
    @extend %button;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

//
// Primary button
//

.button-primary {
    @extend %button;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

//
// Text button
//

.button-text {
    @extend %button;
    border: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

//
// Button icon
//

%button.button-icon {
    position: relative;
    padding-left: 49px;

    > .fa {
        width: (18em / $base);
        text-align: center;
        border-bottom-left-radius: $global-border-radius;
        border-top-left-radius: $global-border-radius;

        vertical-align: middle;
        line-height: 35px;
        width: 37px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }

    &.right {
        padding-right: 49px;
        padding-left: 12px;
        > .fa {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: $global-border-radius;
            border-bottom-right-radius: $global-border-radius;
            right: 0;
            left: auto;
        }
    }
}
