//
// Form and form elements
// -----------------------------------------------------------------------------


// ==========================================================================
// Elements
// ==========================================================================

//
// All the elements needed in a form
//

form,
.form {

}

fieldset {
    margin: 0;
    padding: 0;

    @extend .trailing;
}

//
// Form groups defines a row of inputs and helps with spacing
//

.form-group {
    padding: 0;

    @extend .trailing;
    @extend .clearfix;
}


//
// Input labels
//

.form-label {
    cursor: pointer;
    display: block;
    font-size: em(14px);
    margin-bottom: rhythm(1, $font-base);

    input[type="checkbox"],
    input[type="radio"] {
        vertical-align: center;
        margin-right: 0.5em;
    }
}

//
// Common input styling
//
//  1) Remove all styling webkit select
//     Resource: http://css-tricks.com/almanac/properties/a/appearance/
//  2) Em based borders for nicer responsive borders
//

.form-input {
    -webkit-appearance: none;                                   // 1)
    width: 100%;
    border: 1px solid;
    vertical-align: middle;

    @include border-radius($global-border-radius);              // 2)
    @include background-clip(padding-box);
    @include inline-block();
    @extend %size-default;
    @extend .border-box;

    &:focus {
        outline: none;
    }

    ::-webkit-outer-spin-button,
    ::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    //
    // Disabled styles
    //

    &[disabled],
    &:disabled {
       @include ui-disabled;
    }
}

//
// Restyle the select box
//
//  1) Remove dropdown arrow (expand) from MS devices
//  2) Its not possible to remove arrow in Firefox, so hide gfx
//

.form-select {
    background-repeat: no-repeat;
    background-position: 97% center;
}
select {
    align-items: center;
    white-space: pre;
    cursor: default;
    -webkit-rtl-ordering: logical;
    -webkit-appearance: menulist;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
select.form-select::-ms-expand {                                      // 1)
  display: none !important;
}
@-moz-document url-prefix() {                                         // 2)
    .form-select {
        background-image: none !important;
    }
}

//
// Form helper texts
//

.form-help {
    font-size: 90%;
}
