//
// Form and form elements
// -----------------------------------------------------------------------------


// ==========================================================================
// Elements
// ==========================================================================

//
// All the elements needed in a form
//

form,
.form {

}

fieldset {
    margin: 0;
    padding: 0;

    @extend .trailing;
}

//
// Form groups defines a row of inputs and helps with spacing
//

.form-group {
    padding: 0;

    @extend .trailing;
    @extend .clearfix;
}


//
// Input labels
//

.form-label {
    cursor: pointer;
    display: block;
    font-size: em(14px);
    margin-bottom: rhythm(1, $font-base);

    input[type="checkbox"],
    input[type="radio"] {
        margin-right: 0.5em;
    }
}

//
// Common input styling
//
//  1) Remove all styling webkit select
//     Resource: http://css-tricks.com/almanac/properties/a/appearance/
//  2) Em based borders for nicer responsive borders
//

.form-input {
    -webkit-appearance: none;                                   // 1)
    width: 100%;
    border: 1px solid;
    vertical-align: middle;

    @include border-radius($global-border-radius);              // 2)
    @include background-clip(padding-box);
    @include ui-table-cell();
    @extend %input-default;

    &:focus {
        outline: none;
    }

    //
    // Disabled styles
    //

    &[disabled],
    &:disabled {
        @extend .is-disabled;
    }
}

//
// Restyle the select box
//
//  1) Remove dropdown arrow (expand) from MS devices
//  2) Its not possible to remove arrow in Firefox, so hide gfx
//

.form-select {
    background-repeat: no-repeat;
    background-position: 98% 50%;
}
select::-ms-expand {                                            // 1)
  display: none;
}

//
// Form helper texts
//

.form-help {
    font-size: 90%;
}


// ==========================================================================
// Input groups
// ==========================================================================

//
// Input groups are used for inputs with prepends and appends
//

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;

    @extend .trailing;

    //
    // Remove rounded borders for smooth look
    //

    .input-group-addon,
    .input-group-image,
    .input-group-main {
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:not(:first-child):not(:last-child) {
            @include border-radius(0);
            border-left: 0;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0;
        }
    }

    //
    // Has to come again for nested element
    //

    .input-group-button {
        &:first-child > .button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: -1px;
        }

        &:not(:first-child):not(:last-child) > .button {
            @include border-radius(0);
            margin-left: -1px;
        }

        &:last-child > .button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -1px;
        }
    }
}
label.input-group-main {
    margin: 0;
    width: 100%;
    height: auto !important;
    @extend .form-input;
}

//
// Input-group commen styles
//

.input-group-addon,
.input-group-button,
.input-group-image {
    width: 1%;
    min-width: em(40px);
    border: 1px solid;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;

    @include ui-table-cell();
    @include background-clip(padding-box);
    @include border-radius($global-border-radius);
}

//
// Input group addon specific
//

.input-group-addon {
    @extend %input-default;
}

//
// Input group button specific
//

.input-group-button {
    position: relative;
    white-space: nowrap;
}

//
// Input group image specific
//

.input-group-image {
    img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
    }
}


// ==========================================================================
// Sizes
// ==========================================================================

//
// Defining the sizes used in the framework:
//  Large
//  Default
//  Small
//  XSmall
//

//
// Place holders for input sizes
//

%input-large {
    padding: 11px 12px;
    font-size: 14px;
    min-height: 46px;
    height: 46px;
}
%input-default {
    padding: 7px 12px;
    font-size: 14px;
    min-height: 37px;
    height: 37px;
}
%input-small {
    padding: 5px 12px;
    font-size: 12px;
    font-weight: normal;
    min-height: 30px;
    height: 30px;
}
%input-xsmall {
    padding: 2px 12px;
    font-size: 12px;
    font-weight: normal;
    min-height: 24px;
    height: 24px;
}

//
// Classes for input sizes
//

.large {
    &.form-input,
    &.form-label,
    .input-group-main,
    .input-group-addon {
       @extend %input-large;
    }

    &.btn,
    .btn-main,
    .btn-addon {

    }
}
.default {
    &.form-input,
    &.form-label,
    .input-group-main,
    .input-group-addon {
       @extend %input-default;
    }

    &.btn,
    .btn-main,
    .btn-addon {

    }
}
.small {
    &.form-input,
    &.form-label,
    .input-group-main,
    .input-group-addon {
       @extend %input-small;
    }

    &.btn,
    .btn-main,
    .btn-addon {

    }
}
.xsmall {
    &.form-input,
    &.form-label,
    .input-group-main,
    .input-group-addon {
       @extend %input-xsmall;
    }

    &.btn,
    .btn-main,
    .btn-addon {

    }
}
