//
// Grid
// -----------------------------------------------------------------------------


// ==========================================================================
// Setup
// ==========================================================================

$legacy-support-for-ie:   true;
$legacy-support-for-ie7:  $legacy-support-for-ie;
$legacy-support-for-ie8:  $legacy-support-for-ie;
$container-style: static;

//
// Test helpers
//

.r,
.row {
    border-radius: $global-border-radius;
}

.container {
    margin-top: 20px;
}

.con,
.container, .row {
    border-radius: $global-border-radius;

    outline: 1px solid red;

    @include at-breakpoint($medium) {
        outline-color: green;
    }

    @include at-breakpoint($large) {
        outline-color: black;
    }

    @include at-breakpoint($xlarge) {
        outline-color: blue;
    }
}

[class^="col-"] {
    text-align: center;
    line-height: 40px;
    background-color: $color-highlight;
    opacity: 0.5;
    color: $color-main;
    font-weight: bold;
    height: 40px;
    border-radius: $global-border-radius;
}


// ==========================================================================
// Grid
// ==========================================================================

//
// Container for the a grid
//

.c,
.container {
    @extend .clearfix;
    @include box-sizing(content-box);

    @include ui-grid-container("default");

    @include at-breakpoint($medium) {
        @include ui-grid-container("medium");
    }

    @include at-breakpoint($large) {
        @include ui-grid-container("large");
    }

    @include at-breakpoint($xlarge) {
        @include ui-grid-container("xlarge");
    }
}

//
// Row element
//

.r,
.row {
    @extend .clearfix;
    @include ui-grid-row("default");

    @include at-breakpoint($medium) {
        @include ui-grid-row("medium");
    }

    @include at-breakpoint($large) {
        @include ui-grid-row("large");
    }

    @include at-breakpoint($xlarge) {
        @include ui-grid-row("xlarge");
    }
}

// ==========================================================================
// Default columns
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.
// ==========================================================================
@include ui-grid-column-base("default");
@include ui-grid-columns("default");


// ==========================================================================
// Medium
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.
// ==========================================================================

@include at-breakpoint($medium) {
    @include ui-grid-column-base("medium");
    @include ui-grid-columns("medium");
}


// ==========================================================================
// Large
//
// Columns, offsets, pushes, and pulls for the desktop device range.
// ==========================================================================

@include at-breakpoint($large) {
    @include ui-grid-column-base("large");
    @include ui-grid-columns("large");
}


// ==========================================================================
// Xlarge
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
// ==========================================================================

@include at-breakpoint($xlarge) {
    @include ui-grid-column-base("xlarge");
    @include ui-grid-columns("xlarge");
}
