//
// Input groups
// -----------------------------------------------------------------------------

//
// Input groups are used for grouping of elements with addons prepends
// or appends.
//


// ==========================================================================
// Input groups
// ==========================================================================

//
// Input groups are used for inputs with prepends and appends
//

.input-group {
    position: relative;
    display: table;
    *display: block;
    *zoom: 1;
    border-collapse: separate;

    //
    // Remove rounded borders for smooth look
    //

    .input-group-addon,
    .input-group-main {
        @include ui-rounded-borders;
    }


    .input-group-main {
        @include ui-ie7-table-cell();
    }

    //
    // Has to come again for nested element
    //

    .input-group-button {
        @include ui-rounded-borders(".button");
    }


    .input-group-image {
        @include ui-rounded-borders("img");
    }
}
label.input-group-main {
    margin: 0;
    width: 100%;
    height: auto !important;
    @include ui-ie7-table-cell();

    @extend .form-input;
}


// ==========================================================================
// Input group addons and addon types
// ==========================================================================

//
// Helper class
//

%input-group-base {
    width: 1%;
    min-width: em(40px);
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    line-height: 1;

    @include ui-ie7-table-cell();
    @include background-clip(padding-box);
}

//
// Input-group commen styles
//

.input-group-addon,
.input-group-button,
.input-group-image {
    @extend %input-group-base;
}

//
// Input group addon specific
//

.input-group-addon {
    border: 1px solid;
    @extend %size-default;
    @include border-radius($global-border-radius);
}

//
// Input group image specific
//  1) Hidden from < ie7 size min-max-height doesnt work
//

.input-group-image {
    padding: 0 !important;
    @extend %size-default;
    *display: none;                                             // 1)

    > img {
        @include border-radius($global-border-radius);
        @extend .reset;

        display: block;
        height: 100%;
        width: auto;
        max-height: 100%;
        vertical-align: middle;
        border: 1px solid;
    }
}

//
// Input group button specific
//

.input-group-button {
    position: relative;
    white-space: nowrap;
    min-width: 0;
}
