//
// Lists
// -----------------------------------------------------------------------------

// ==========================================================================
// Base
// ==========================================================================

//
// Basic setup of lists
//
ol,
ul,
dl {
    ol,
    ul,
    dl {
        margin-bottom: 0;
    }
}
ol,
ul {
    padding-left: 1.25em;
}
ol {}
ul {}
dl {
    @include definition-list-style;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0;
}

// ==========================================================================
// List classes
// ==========================================================================

.list {

    //
    // Inline lists
    //

    &.l-inline {

        & li {
            display: inline-block;
            padding: 0 0.5em;
        }
    }

    //
    // Unstyled theme
    //

    &.t-unstyled {
        padding: 0;
        list-style: none;
    }

    //
    // Unstyled theme for nesting
    //

    &.t-unstyled-nested {
        ul {
            padding: 0;
            list-style: none;
        }
    }

    //
    // Striped theme
    //

    &.t-striped {
    }

    //
    // List with spacing
    //

    &.t-border-bottom {
        > li {
            border-bottom: 1px solid;
        }
    }

}
