//
// Navbar
// -----------------------------------------------------------------------------

// ==========================================================================
// Navbar
// ==========================================================================

.navbar {
	position: relative;
	display: block;
	border: 1px solid transparent;
	&:before,
	&:after {
		display: table;
		content: " ";
	}

	&:after {
		clear: both;
	}

	.nav-tabs {
		border-bottom: 0px;

		@include at-breakpoint($grid-large) {
			margin-top: 1px;
		}
	}


}
	
	.navbar-pull-right,
	.navbar-pull-left {
		display: table;
	}

	.navbar-pull-right {
		float: right;
	}

	.navbar-pull-left {
		float: left;
	}

	.navbar-default {
		background-color: transparent;
		border-color: transparent;
	}

	.navbar-header {

		&:before,
		&:after {
			display: table;
			content: " ";
		}

		&:after {
			clear: both;
		}

		@include at-breakpoint($grid-large) {
			float: left;
		}
	}

	.navbar-collapse {
		@include at-breakpoint($grid-large) {
			padding: 0;
		}

		.collapse & {
			@include at-breakpoint($grid-large) {
				display: block;
			}

			.navbar-pull-right,
			.navbar-pull-left {
				float: none;
			}
		}

		@include at-breakpoint($grid-large) {
			.navbar-pull-right,
			.navbar-pull-left {
				margin-right: 10px;
			}
		}

		.form-group,
		.input-group {
			margin: 0;
		}

		.dropdown,
		.form-group {
			display: table-cell;
			vertical-align: middle;
		}

		.nav-default,
		.nav-pills {
			> li {
				display: block;
				float: none;

				@include at-breakpoint($grid-large) {
					display: inline-block;
				}

				> a {
					border-color: transparent !important;
				}
			}
			&.nav-justified {
				> li {
					width: auto;
				}
			}
			@include at-breakpoint($grid-large) {
				&.nav-justified {
					> li {
						display: table-cell;
						width: 1%;
						float: none;
					}
				}
			}
		}

		.nav-breadcrumbs {
			> li {
					display: block;
					float: none;

				@include at-breakpoint($grid-large) {
					display: inline-block;
					float: left;
				}

				> a {
					border-color: transparent !important;
				}
			}
			.seperator {
				display: none;
				@include at-breakpoint($grid-large) {
					display: block;
				}
			}
		}

		.nav-default {}
		.nav-pills {}
		.nav-tabs {
			> li {
				display: block;
				float: none;
				width: auto;
				margin-bottom: 0;
				@include at-breakpoint($grid-large) {
					margin-bottom: -1px;
				}
			}
			@include at-breakpoint($grid-large) {
				> li {
					display: inline-block;
					float: left;
				}
				&.nav-justified {
					> li {
						display: table-cell;
						width: 1%;
						float: none;
					}
				}
			}
		}
	}

	.navbar-brand {
		float: left;
		text-decoration: none;
		font-weight: bold;
	}

	.navbar-toggle {
		display: inline-block;
		width: auto;
		float: right;
		margin: 7px 10px;

		@include at-breakpoint($grid-large) {
			display: none;
		}
	}

// ==========================================================================
// Sizes
// ==========================================================================

//
// Sizes for navbar
//


.large {
    &.navbar-brand {
        font-size: 16px;
		line-height: 1.5;
		padding: 18px 10px;
		@include at-breakpoint($grid-large) {
			padding: 11px 10px;
		}
    }
}
.default {
    &.navbar-brand {
        font-size: 16px;
		line-height: 1.5;
		padding: 13px 10px;
		@include at-breakpoint($grid-large) {
			padding: 6px 10px;
		}
    }
}
.small {
    &.navbar-brand {
	    font-size: 14px;
		line-height: 1.5;
		padding: 11px 10px;
		@include at-breakpoint($grid-large) {
			padding: 4px 10px;
		}
    }
}
.xsmall {
    &.navbar-brand {
	    font-size: 14px;
		line-height: 1.5;
		padding: 9px 10px;
		@include at-breakpoint($grid-large) {
			padding: 2px 10px;
		}
    }
}



.navbar-size-large {
	.navbar-pull-right,
	.navbar-pull-left {
		@extend %navbar-size-large;
		@include at-breakpoint($grid-large) {
			@extend %navbar-size-large;
		}
	}
}

.navbar-size-default {
	.navbar-pull-right,
	.navbar-pull-left {
		@extend %navbar-size-default;
		@include at-breakpoint($grid-large) {
			@extend %navbar-size-default;
		}
	}
}

.navbar-size-small {
	.navbar-pull-right,
	.navbar-pull-left {
		@extend %navbar-size-small;
		@include at-breakpoint($grid-large) {
			@extend %navbar-size-small;
		}
	}
}

.navbar-size-xsmall {
	.navbar-pull-right,
	.navbar-pull-left {
		@extend %navbar-size-xsmall;
		@include at-breakpoint($grid-large) {
			@extend %navbar-size-xsmall;
		}
	}
}