//
// Pager
// -----------------------------------------------------------------------------

// ==========================================================================
// Pager
// ==========================================================================

//
// Pager button group
//

.pager-group {
    @extend .clearfix;
    display: block;

    .button-icon,
    .button,
    .button-primary {
        width: 50%;
        margin: 0;
        float: left;
        margin-left: -1px;

        &:first-child {
            margin-left: 0;
        }
    }
}


//
// Media query
//

@include from(3) {
    .pager-group {
        @include inline-block;

        .button-icon,
        .button,
        .button-primary {
            width: auto;
        }
    }
}
