//
// Panels
//

.panel {
	overflow: hidden;
	margin-bottom: rhythm(2, $font-base);
	border: 1px solid;
}

	.panel-heading {
		border-bottom: 1px solid;
		overflow: hidden;
		padding: ($global-padding/2) $global-padding;
        margin-bottom: -1px;

        @include at(3) {
        	padding: ($global-padding/2) ($global-padding/2);
        }

		h1,h2,h3,h4,h5,h6 {
			margin: 0;
		}

		.form-group,
		.button,
        .button-primary,
        button {
			float: right;
			margin: 0;
		}
	}

	.panel-body {
		padding: $global-padding $global-padding ($global-padding/2) $global-padding;

		@include at(3) {
        	padding: ($global-padding/2) ($global-padding/2) (($global-padding/2)/2) ($global-padding/2);
        }
	}

	.panel-footer {
		border-top: 1px solid;
		padding: ($global-padding/2) $global-padding;
        margin-top: -1px;

        @include at(3) {
        	padding: ($global-padding/2) ($global-padding/2);
        }

        .form-group,
        .button,
        .button-primary,
        button {
			margin: 0;
		}
	}

	.panel-rounded {
		@include border-radius($global-border-radius);
	}
