//
// Panels
//

.panel {
	margin-bottom: rhythm(2, $font-base);
	border: 1px solid;
}

	.panel-heading {
		border-bottom: 1px solid;
		overflow: hidden;
		padding-top: ($global-padding);
        padding-bottom: ($global-padding);
        padding-right: ($global-padding);
        padding-left: ($global-padding);
        margin-bottom: -1px;

		h1,h2,h3,h4,h5,h6 {
			margin: 0;
		}

		.form-group,
		.button,
        .button-primary,
        button {
			float: right;
			margin: 0;
		}
	}

	.panel-body {
		padding-top: ($global-padding);
        padding-bottom: ($global-padding);
        padding-right: ($global-padding);
        padding-left: ($global-padding);
	}

	.panel .modules {

		.header,
		.footer {
	        padding-right: ($global-padding);
	        padding-left: ($global-padding);
		}


		> ul {
			margin-bottom: 1em;
			> li {
				padding-top: ($global-padding);
		        padding-bottom: ($global-padding);
		        padding-right: ($global-padding);
		        padding-left: ($global-padding);
			}
		}
	}

	.panel-footer {
		border-top: 1px solid;
		padding-top: ($global-padding);
        padding-bottom: ($global-padding);
        padding-right: ($global-padding);
        padding-left: ($global-padding);
        margin-top: -1px;

        .form-group,
        .button,
        .button-primary,
        button {
			margin: 0;
		}
	}

	.panel-rounded {
		@include border-radius($global-border-radius);
	}


