.symbol {
	display: inline-block;
	margin: 0 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid;
	border-left: 4px solid;
	border-color: transparent;
	background: none;
	padding: 0;
	border-bottom: 0;
}