<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include navigation.html %}

        <div class="hero">
            <div class="container with-xlarge">
                <div class="row">
                    <header class="post-header col-s-4 col-m-10 col-l-10 col-xl-20">
                        <h1 class="post-title">Get startet</h1>
                        <h2 class="post-field subtitle post-subtitle">What I have learned during my 2-year journey of a Product Designer</h2>
                    </header>
                </div>
            </div>
        </div>

        {% include body-default.html %}

    </body>
</html>
